<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>6276234D-7D74-4710-8D78-08A83BA2866E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FA61C9D-871A-4581-A952-9BCC9638024F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D1D5B56-0517-4D1F-9138-9C172E45B4CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A26F9277-5855-4BE8-8E48-239FA81DAD4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6276234D-7D74-4710-8D78-08A83BA2866E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Scott Berrevoets</string>
	<key>description</key>
	<string>A random, temporary email generator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mailinator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env python

import random, string, sys

username_length = {query} or 8
sys.stdout.write("".join(random.choice(string.lowercase).rstrip() for i in range(username_length)))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6276234D-7D74-4710-8D78-08A83BA2866E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mailinator</string>
				<key>subtext</key>
				<string>Generate temporary email address</string>
				<key>text</key>
				<string>Mailinator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A26F9277-5855-4BE8-8E48-239FA81DAD4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}@mailinator.com</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FA61C9D-871A-4581-A952-9BCC9638024F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -g http://{query}.mailinator.com</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>0D1D5B56-0517-4D1F-9138-9C172E45B4CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D1D5B56-0517-4D1F-9138-9C172E45B4CE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5FA61C9D-871A-4581-A952-9BCC9638024F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6276234D-7D74-4710-8D78-08A83BA2866E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A26F9277-5855-4BE8-8E48-239FA81DAD4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://ScottBerrevoets.com</string>
</dict>
</plist>
