<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>22A694C5-3BE6-4CB8-8B77-C8F77DC15906</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01EF9C34-AF53-481D-B85F-404366AF0603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CAFC678E-73F1-433B-B351-3B8A5846E4BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F5B4FFC-DA9E-4615-A837-A6584E176BCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E10C7D69-C9B9-4814-9007-3B3D9F47977E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAFC678E-73F1-433B-B351-3B8A5846E4BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F828EC73-4DD4-49B3-8FDB-F0B82B592CC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22A694C5-3BE6-4CB8-8B77-C8F77DC15906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simulators</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F828EC73-4DD4-49B3-8FDB-F0B82B592CC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>iPhone model</string>
				<key>text</key>
				<string>iPhone model</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22A694C5-3BE6-4CB8-8B77-C8F77DC15906</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>~/dotfiles/osx/sim.py --device={query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01EF9C34-AF53-481D-B85F-404366AF0603</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>iPhone model</string>
				<key>text</key>
				<string>iPhone model</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CAFC678E-73F1-433B-B351-3B8A5846E4BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/simulator --device={query} --appid=com.lyft.ios.phoenix --ios=8.3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F5B4FFC-DA9E-4615-A837-A6584E176BCC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E10C7D69-C9B9-4814-9007-3B3D9F47977E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01EF9C34-AF53-481D-B85F-404366AF0603</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>22A694C5-3BE6-4CB8-8B77-C8F77DC15906</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5F5B4FFC-DA9E-4615-A837-A6584E176BCC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CAFC678E-73F1-433B-B351-3B8A5846E4BE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E10C7D69-C9B9-4814-9007-3B3D9F47977E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F828EC73-4DD4-49B3-8FDB-F0B82B592CC7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
