<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.duckduckgo.fallback</string>
		<string>features.websearch.google.fallback</string>
		<string>67C9BA1C-5C33-4A61-9159-CC87F8D39013</string>
	</array>
</dict>
</plist>
